name: Disparo de Mensagens Sexta
on:
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * 5'

jobs:
  rodar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependencias
        run: npm install

      - name: Executar script
        run: node index.js
        env:
          NINSAUDE_TOKEN: ${{ secrets.NINSAUDE_TOKEN }}
          WHAPI_TOKEN: ${{ secrets.WHAPI_TOKEN }}
